.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input,
  textarea {
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: $color-bgSoft;
    color: $color-text;
  }

  .button {
    padding: 20px;
    background-color: $color-btn;
    color: $color-text;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: opacity $trans-default, background-color $trans-default;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }

    &:active {
      background-color: $color-jacksons-purple;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
