.container {
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;

    input {
      padding: 20px;
      background-color: $color-bg;
      color: $color-text;
      border: none;
      border-radius: 5px;

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    button {
      padding: 20px;
      cursor: pointer;
      background-color: $color-btn;
      color: $color-text;
      font-weight: bold;
      border: none;
      border-radius: 5px;
    }
  }

}
