.container {
  display: flex;
  gap: 100px;

  @include vp-1023 {
    flex-direction: column;
  }

  .imgContainer {
    position: relative;
    width: 300px;

    @include vp-1023 {
      margin: 0 auto;
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: calc(280 / 150 * 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .textContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      font-size: 44px;
      line-height: normal;
    }

    .content {
      font-size: 20px;
    }

  }
}
