.post {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .detail {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .postButton {
    padding: 5px 10px;
    background-color: $color-crimson;
    color: $color-text;
    border-radius: 5px;
    border: none;
    transition: opacity $trans-default, background-color $trans-default;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }

    &:active {
      background-color: $color-shiraz;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
