.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: $color-bgSoft;
  border: none;
  border-radius: 5px;
  color: $color-text;
}

.container button {
  padding: 20px;
  background-color: $color-btn;
  border: none;
  border-radius: 5px;
  color: $color-text;
  font-weight: bold;
  cursor: pointer;
}
