.user {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .detail {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .title {
      width: 80%;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  form {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 15px;
  }

  .link {
    padding: 5px 10px;
    background-color: $color-btn;
    color: $color-text;
    border-radius: 5px;
    border: none;
    transition: opacity $trans-default, background-color $trans-default;
    user-select: none;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
    }

    &:active {
      background-color: $color-jacksons-purple;
    }
  }
}
