.container {
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 1;
    transition: opacity $trans-default;

    @include hover-focus {
        &:not(.active) {
            opacity: 0.8;
        }
    }
}

.active {
    background-color: $color-text;
    color: $color-bg;
    pointer-events: none;

    @include vp-1023 {
        color: $color-jacksons-purple;
    }
}
